@import "tailwindcss";
@import "tw-animate-css";
@import "dither-plugin";
@import "./colors.css";
@import "./text.css";

@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@source "../node_modules/streamdown/dist/index.js";

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/pretendard/PretendardVariable.woff2) format("woff2-variations");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src:
    local("Pretendard Black"),
    url(/fonts/pretendard/Pretendard-Black.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-Black.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src:
    local("Pretendard ExtraBold"),
    url(/fonts/pretendard/Pretendard-ExtraBold.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src:
    local("Pretendard Bold"),
    url(/fonts/pretendard/Pretendard-Bold.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src:
    local("Pretendard SemiBold"),
    url(/fonts/pretendard/Pretendard-SemiBold.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url(/fonts/pretendard/Pretendard-Medium.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Regular"),
    url(/fonts/pretendard/Pretendard-Regular.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src:
    local("Pretendard Light"),
    url(/fonts/pretendard/Pretendard-Light.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src:
    local("Pretendard ExtraLight"),
    url(/fonts/pretendard/Pretendard-ExtraLight.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src:
    local("Pretendard Thin"),
    url(/fonts/pretendard/Pretendard-Thin.woff2) format("woff2"),
    url(/fonts/pretendard/Pretendard-Thin.woff) format("woff");
}

@font-face {
  font-family: "Commit Mono";
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/commit-mono/commit-mono-var.woff2) format("woff2");
}

@font-face {
  font-family: "Open Runde";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/open-runde/OpenRunde-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Open Runde";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/open-runde/OpenRunde-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Open Runde";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/open-runde/OpenRunde-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Open Runde";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/open-runde/OpenRunde-Bold.woff2) format("woff2");
}

@theme {
  --spacing-col: 248px;
  --text-ms: 0.9375rem;
  --aspect-a4: 1.4142857143/1;
  --animate-fade-in: fade-in 0.5s ease-out;

  @keyframes fade-in {
    0% {
      filter: blur(1px);
      opacity: 0;
    }
    100% {
      filter: none;
      opacity: 1;
    }
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: var(--text-ms);
  font-weight: 450;
}

*:not([class*="outline-"]):not(input):not(textarea) {
  @apply outline-0 outline-transparent;
}

:focus-visible:not(input):not(textarea) {
  @apply outline-2 outline-offset-2 outline-blue-300 transition-all duration-150;
}

.progressive-blur {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  mask-image: linear-gradient(to bottom, transparent, black);
}

#tooltip-portal {
  font-family: var(--font-sans);
}
