.layered p,
.sticked div {
    grid-column: span 2 / span 2;
}

.layered>h1,
.layered>h2,
.layered>h3,
.layered>h4,
.layered>h5,
.layered>h6 {
    padding-top: 20px;
}

.layered ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.layered>ul>li>div {
    margin: 0px;
    margin-top: 32px;
}

ul>li>div>a.dflt-button {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 4px 8px;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

ul>li>div>a.dflt-button>img {
    display: inline-block;
}

a.dflt-button>img {
    display: none;
}

@media (min-width: 768px) {

    .layered ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        gap: 16px;
        grid-column: span 2 / span 2;
    }

    .sticked>h1,
    .sticked>h2,
    .sticked>h3,
    .sticked>h4,
    .sticked>h5,
    .sticked>h6 {
        position: sticky;
        top: 96px;
    }

}


@media (max-width: 768px) {

    ul>li>div>a.dflt-button {
        position: relative;
        left: -16px;
    }

}