.float-tooltip-kap {
  background-color: var(--surface-inverted) !important;
  padding: 0.25rem 0.5rem !important;
  border-radius: 0.5rem !important;
  font-weight: 500;
}

.float-tooltip-kap > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-inverted);
}
