.smf-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--text-quaternary) transparent;
}
.smf-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.smf-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.smf-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--text-quaternary);
  border-radius: 999px;
}
