@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .custom-caret {
    position: absolute;
    width: 2px;
    height: 1.25em;
    background: #3b82f6;
    border-radius: 1000px;
    animation: blink 1s step-end infinite;
    pointer-events: none;
  }

  .mirror-div {
    visibility: hidden;
    position: absolute;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .ai-gradient {
    background: #1d1d1f;
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(108deg,#0894FF,#C959DD 34%,#FF2E54 68%,#FF9004);
  }

  .path {
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    animation: dash 4s ease-in-out infinite;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 0px 0px 128px #C45BDE50);

  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 5000;
    }
    50% {
      stroke-dashoffset: 2500;
      filter: blur(0);
    }
    100% {
      stroke-dashoffset: 0;
    }
  }