article {

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    & h1 {
        font-size: 1.25rem;
    }

    & p {
        color: #52525b;
        margin-bottom: 4rem;
    }

    & strong {
        font-weight: 600;
        font-size: 1rem;
    }

    & a {
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
        font-weight: 500;
        color: black;
        transition: all ease-in-out 0.1s;
        cursor: alias;
    }

    & a:hover {
        color: #71717a;
    }

}
