@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Pretendard/PretendardVariable.woff2') format('woff2-variations');
}

a {
	padding: 0 0.25rem;
}

a:focus {
	outline-width: 2px;
	outline-color: #3b82f6;
	border-radius: 0.25rem;
}
