article {

    margin-bottom: 4rem;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    & h1 {
        font-size: 1.9rem;
    }

    & h2 {
        font-size: 1.5rem;
    }

    & h3 {
        font-size: 1.25rem;
    }

    @media screen and (min-width: 1024px) {
        & info-grid {
            justify-content: space-between;
            flex-direction: row;
            gap: 2rem;
        }
    }

    @media screen and (max-width: 1023px) {
        & info-grid {
            flex-direction: column;
            gap: 1.5rem;
        }

        & info-grid>div>p {
            margin-bottom: 1rem;
        }
    }

    & info-grid {
        display: flex;
        margin-bottom: 1rem;
    }

    & p {
        color: #52525b;
        margin-bottom: 4rem;
    }

    @media (prefers-color-scheme: dark) {
        & p {
            color: #a1a1aa;
        }
    }

    & info-grid> :nth-child(2) {
        max-width: 18.8rem;
        width: 100%;
    }

    & a {
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
        font-weight: 500;
        color: black;
        transition: all ease-in-out 0.1s;
        cursor: alias;
    }

    & a:hover {
        color: #71717a;
    }

    @media (prefers-color-scheme: dark) {
        & a {
            padding: 0.1rem 0.2rem;
            border-radius: 0.2rem;
            font-weight: 500;
            color: white;
            transition: all ease-in-out 0.1s;
            cursor: alias;
        }

        & a:hover {
            color: #e4e4e7;
        }
    }

    & collaborators>ul>li {
        margin-bottom: 12px;
    }

    & collaborators>ul>li>a {
        margin-bottom: 0.5rem;
        list-style: none;
        display: flex;
        align-items: center;
    }

    & collaborators>ul>li>a:hover {
        opacity: 0.75;
    }

    & collaborators>ul>li>a>img {
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 24px;
        height: 24px;
        border-radius: 1000px;
    }

    & three-full-grid {
        overflow: hidden;
    }

    & two-full-grid>p {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 6rem 0;
        width: 80vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 4rem;
    }

    & .video-container {
        margin-bottom: 4rem;
        cursor: pointer;
        position: relative;
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
    }

    & .video-wrapper::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 8rem;
        height: 8rem;
        background-image: url("/images/icons/play-circle.svg");
        background-size: cover;
        z-index: 10;
        border-radius: 50%;
        opacity: 50%;
        transition: all ease 0.2s;
        mix-blend-mode: exclusion;
    }

    & .video-wrapper:hover::after {
        transform: translateX(-50%) translateY(-50%) scale(1.1);
        opacity: 30%;
    }

    @media screen and (max-width: 850px) {
        & two-full-grid>p {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: static;
            transform: translateX(0);
            padding: 0 0rem;
        }
    }

    & three-full-grid {
        overflow: hidden;
    }

    & three-full-grid>p {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin: 6rem 0;
        width: 99vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 4rem;
    }

    @media screen and (max-width: 850px) {
        & three-full-grid>p {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: static;
            transform: translateX(0);
            padding: 0 0rem;
        }
    }

    & process-grid {
        display: grid;
        grid-template-columns: 10rem 1fr;
        gap: 2rem;
        margin: 8rem 0;
        position: relative;
    }

    & process-grid>div>h3 {
        position: sticky;
        top: 4.5rem;
    }

    @media screen and (max-width: 850px) {
        & process-grid {
            grid-template-columns: 1fr;
            gap: 0;
        }

        & process-grid>h3:nth-child(3) {
            position: static;
        }
    }

    & project-links>p {
        display: flex;
        gap: 1.5rem;
        align-items: stretch;
    }

    & project-links div,
    project-links p,
    project-links a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: 8rem;
        border-radius: 1rem;
        color: #18181b;
        transition: all ease 0.2s;
    }

    @media screen and (max-width: 850px) {
        & project-links>p {
            flex-direction: column;
            gap: 1rem;
        }

        & project-links a {
            padding: 2rem 0;
        }
    }

    & project-links a {
        border: 1px solid #e4e4e7;
        background-color: #fafafa;
        color: #000;
        font-weight: 600;
    }

    & project-links a:nth-child(1) {
        border: 1px solid rgb(39 39 42);
        background-color: #000;
        color: #fff;
        font-weight: 600;
    }

    & project-links a:nth-child(1)::after {
        filter: invert(1);
    }

    & project-links a:nth-child(1):hover {
        background-color: #27272a;
        border-color: rgb(82 82 91);
        color: #fff;
    }

    & project-links a:hover {
        color: #18181b;
        background-color: #fff;
        border-radius: 1rem;
    }

    @media (prefers-color-scheme: dark) {
        & project-links a {
            border: 1px solid #27272a;
            background-color: #18181b;
            color: #fff;
        }

        & project-links a:nth-child(1) {
            border: 1px solid #e4e4e7;
            background-color: #ffffff;
            color: #000;
        }

        & project-links a:hover {
            background-color: rgb(24 24 27 / 0.75);
            color: #e4e4e7;
        }

        & project-links a:nth-child(1):hover {
            color: #000;
            background-color: #e4e4e7;
            border-color: #a1a1aa;
            border-radius: 1rem;
        }
    }
}

article>div>p>img:nth-child(1) {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 4rem;
}

article>div>p:nth-child(3),
article>div>p:nth-child(4) {
    font-size: 1.1rem;
}