article {
    & h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin-bottom: 0.5em;
    }
    & h1 {
        font-size: 2rem;
    }
    & h2 {
        font-size: 1.5rem;
    }
    & h3 {
        font-size: 1.25rem;
    }
    @media screen and (min-width: 1024px) {
        & info-grid {
            justify-content: space-between;
            flex-direction: row;
            gap: 2rem;
        }
    }   
    @media screen and (max-width: 1023px) {
        & info-grid {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
    & info-grid {
        display: flex;
        margin-bottom: 4rem;
    }
    & p {
        color: #52525b;
        margin-bottom: 4rem;
    }
    & info-grid > :nth-child(2) {
        max-width: 17.5rem;
        width: 100%;
    }
    & a {
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
        font-weight: 500;
        color: black;
        transition: all ease-in-out 0.1s;
    }
    & a:hover {
        color: #71717a;
    }
    & collaborators > ul > li {
        margin-bottom: 12px;
    }
    & collaborators > ul > li > a {
        margin-bottom: 0.5rem;
        list-style: none;
        display: flex;
        align-items: center;
    } 
    & collaborators > ul > li > a > img {
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 24px;
        height: 24px;
        border-radius: 1000px;
    }
    & process-grid {
        display: grid;
        grid-template-columns: 10rem 1fr;
        gap: 2rem;
        margin: 8rem 0;
        position: relative;
    }
    & process-grid > div > h3 {
        position: sticky;
        top: 5rem;
    }
    @media screen and (max-width: 850px) {
        & process-grid {
            grid-template-columns: 1fr;
            gap: 0;
        }
        & process-grid > h3:nth-child(3) {
            position: static;
        }
    }
  } 

article > div > p > img:nth-child(1) {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 4rem;
}

article > div > p:nth-child(3) {
    font-size: 1.1rem;
}
